<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}"> -->
    <link rel="stylesheet" href="../static/home.css">
    <title>Document</title>
</head>
<body>
    <div class="grid-container">
        <div class="menuToggle"></div>
        <div class="sidebar">
            <ul>
                <li class="logo" style="--bg:#333;">
                    <a href="#">
                        <div class="icon"><ion-icon name="logo-apple-ar"></ion-icon></div>
                        <div class="text">Website Logo</div>
                    </a>
                </li>
                <div class="MenuList">
                    <li style="--bg:#ffa117;">
                        <a href="home.html">
                            <div class="icon"><ion-icon name="home-outline"></ion-icon></div>
                            <div class="text">Home</div>
                        </a>
                    </li>
                    <li style="--bg:#0fc70f;" class="active">
                        <a href="dashboard.html">
                            <div class="icon"><ion-icon name="bar-chart-outline"></ion-icon></div>
                            <div class="text">DashBoard</div>
                        </a>
                    </li>
                </div>
                <div class="bottom">
                    <li style="--bg:#333;">
                        <a href="#">
                            <div class="icon">
                                <div class="imgBx">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0NChElpsG05JVxXMrX14ATT8PmTtT8-R6fA&usqp=CAU">
                                </div>
                            </div>
                            <div class="text">The GygaBytes</div>
                        </a>
                    </li>
                    <li style="--bg:#333;">
                        <a href="AboutUs.html">
                            <div class="icon"><ion-icon name="help-circle-outline"></ion-icon></div>
                            <div class="text">About Us</div>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <main class="container">
            <div class="title">
                <h2>Dashboard</h2>
            </div>
            <select id="chartSelector">
                <option value="temp-chart">Temperatura</option>
                <option value="umid-chart">Umidade</option>
                <option value="lx-chart">Luminosidade</option>
                <option value="press-chart">Pressão</option>
                <option value="rot-chart">Rotação</option>
            </select>
            <div class="charts">
                <div class="charts-card">
                    <h2 class="chart-title">Temperatura</h2>
                    <div id="temp-chart" class="chart"></div>
                </div>
                <div class="charts-card" style="display: none;">
                    <h2 class="chart-title">Umidade</h2>
                    <div id="umid-chart" class="chart"></div>
                </div>
                <div class="charts-card" style="display: none;">
                    <h2 class="chart-title">Luminosidade</h2>
                    <div id="lx-chart" class="chart"></div>
                </div>
                <div class="charts-card" style="display: none;">
                    <h2 class="chart-title">Pressão</h2>
                    <div id="press-chart" class="chart"></div>
                </div>
                <div class="charts-card" style="display: none;">
                    <h2 class="chart-title">Rotação</h2>
                    <div id="rot-chart" class="chart"></div>
                </div>
            </div>
        </main>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <!-- ApexCharts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.44.0/apexcharts.min.js" integrity="sha512-9ktqS1nS/L6/PPv4S4FdD2+guYGmKF+5DzxRKYkS/fV5gR0tXoDaLqqQ6V93NlTj6ITsanjwVWZ3xe6YkObIQQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
